#navLinks {
    float: right;
    margin: 50px;
}
.nav-link{
    color: whitesmoke;
    font-family: 'Righteous', cursive;
}
#nav {
    background: none;
    padding-bottom: 0px;
    
}
#nameSmall {
    font-family: 'Righteous', cursive;
    float: right;
    color: whitesmoke;
    font-size: 30px;
    
}
#webD {
    font-size: 15px;
    float: left;
    padding-top: 0px;
    padding-left: 40px;
    position: sticky;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
   
}

#divWeb {
    float: left;
    margin-right: 40px;
    position: fixed;
    
}
#webDev {
    margin-bottom: 30px;
    position: sticky;
}
#imgContain {
    float: left;
    margin-left: 170px;
}
#hello {
    font-family: 'Homemade Apple', cursive;
    font-size: 120px;
    margin-left: 50px;
    color: whitesmoke;
}
#me {
    font-family: 'Special Elite', cursive;
    margin-left: 80px;
    font-size: 40px;
    color: whitesmoke;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    background:lightblue;
}
#helloAbout {
    margin-bottom: 0px;
    margin-top: 150px;
}
#blue {
    border-color: lightcyan;
    float: left;
    padding-right: 20px;
    text-align: center;
    font-size: 30px;
}
#resume {
    align-items: center;
    padding-top: 60px;
    padding-left: 20px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}
#work {
    padding-top: 60px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}
#skills {
    padding-top: 60px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}
#green {
    background-color: lightgreen;
    border-color: lightseagreen;
    float: right;
    margin-right: 10px;
    text-align: center;
    font-size: 30px;
}
#purple {
    background-color: plum;
    border-color: rebeccapurple;
    float: right;
    margin-right: 40px;
    text-align: center;
    font-size: 30px;
}

.paragraph {
    color: whitesmoke;
    background-color: black;
    opacity: 50%;
    font-family: 'Fredoka One', cursive;
    
}
.col-sm-8 {
    margin-top: 40px;
}


#img {
    border-radius: 30%;
    width: 400px;
    height: 500px;
}

.head {
    font-family: "Georgia", 'Times New Roman', Times, serif;
    padding-bottom: 0px;
    float: left;
}

#left {
    float: left;
    padding-right: 8px;
}

.white {
    background-color: white;
}



#space {
    padding-top: 20px;
    margin-bottom: 30px;
}

 #float {
     padding-left: 20px;
     margin-left: 100px;
     background-color: black;
     opacity: 40px;
     align-items: center;
     border-radius: 30%;   
}

 .size {
     height: 400px;
     width: 300px;
    

 }

 #port {
     margin-top: 20px ;
     background-color: white;
 }

 .font {
    font-family: "Georgia", 'Times New Roman', Times, serif;
    color: whitesmoke;
 }
 .time{
     color: whitesmoke;
 }
 #emailHelp{
     color: whitesmoke;
 }
 #bgbutton {
     background-color: teal;
     font-family: "Arial", Arial, Helvetica, sans-serif;
 }
 #portfolio {
     font-family: 'Homemade Apple', cursive;
     color: whitesmoke;
     font-size: 100px;
     padding-left: 150px;
     padding-top: 40px;
     text-align: center;
}
#portfolioText {
    padding: 20px;
    text-align: center;
   
}
#portTitleCol {
    float: left;
}
#portfolioCol {
    float: right;
    padding-right: 120px;
    margin-top: 80px;
    
}
#allProjects{
    padding-top: 90px;
}
.card {
    background: black;
}

#games {
    float: left;
    border: whitesmoke solid;
    margin: 5px;
   padding: 30px;
   width: 30px;
   background-color: black;
  
}
#gameText {
    color: whitesmoke;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    
}
#websiteText {
    color: whitesmoke;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    
}
#groupText {
    color: whitesmoke;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
   
}
#websites {
     float: right;
     border: white solid;
     margin: 5px;
     align-content: center;
     padding: 30px;
     background-color: black;
     
     
}
#projects {
    float: right;
    border: whitesmoke solid;
    margin:  5px;
    align-content: center;
    padding: 30px;
    background-color: black;  
}
.projectText{
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 200px 10px 200px;
    opacity: 70%;
    color:black;
    font-family: 'Fredoka One', cursive;
}
.Div{
    position: relative;
    text-align: center;
    color:black;
}

#mystery{
    color: whitesmoke;
    background-color: lightgray;
}

#gif {
    color: whitesmoke;
    background-color: lightgray;
}

#train{
    color: whitesmoke;
    background-color: lightgray;
}

#project{
    color: whitesmoke;
    background-color: lightgray;
}
.col-md-8 {
    border: whitesmoke solid;
    background: black;
}
.footer {
    color: whitesmoke;
}
.gitHubLink {
    border-radius: 50%;
    background: lightblue;
    position: absolute;
    bottom: 8px;
    right: 35px;
}
#gitText{
    font-family: 'Fredoka One', cursive;
    font-size: 10px; 
    padding: 3px; 
    text-align: center;
}



/* these are the icons */

#envelopeIcon {
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 2px;
}

#phoneIcon {
    padding-top: 30px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fab:hover {
    opacity: 0.7;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    float: right;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    float: right;
}

  .fa-facebook {
    background: #3B5998;
    color: white;
    float: right;
    
}
  .fa-linkedin {
      background: #3B5998;
      color: white;
      float: right;
}
  #socialMedia {
    padding-right: 20px;
    padding-top: none;
    margin-bottom: 10px;
    padding-bottom: 20px ;
}










